<body>
<!-- Including Header Component to the body -->
{% block header %}{% endblock %}

<!-- Including the main component to the body -->
{% block bodyCorpse %} {% endblock %}

<!-- Including Footer Component to the body -->
{% block footer %} {% endblock %}

<!-- Including JavaScript/Ajax/Jquery from bootstrap to the body -->
{% block jsBootstrapImport %} {% endblock %}
</body>