body{
    background-color: ghostwhite;
}

sub{
    font-style: italic;
}
#navBarBrand{
    text-decoration: none;
    font-family: 'Leckerli One', cursive;
    color: #8E7A68;
    margin-top: -5px;
    font-size: 24px;
}

.navbar{
    font-size: 24px;
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color: transparent
}

.navbar-light .navbar-nav .nav-link{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-nav {
}



/* Class CSS BLOG */

.archive {
    box-shadow: 0 0 0 4px #8E7A68, 0 0 0 5px #ffe007d6;
}

.archive-title {
    margin: 10px 10px 35px 10px;
    font-size: 36px;
    color: #8E7A68;
    text-align: center;
    font-family: 'Podkova', serif;
    padding-top: 20px;
}

.archive-content{
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.archive-text{

    text-align: justify;
}

.archive-quote{
    text-align: end;
}