/* Native HTML tag */


body{
    background-color: ghostwhite;
}

sub{
    font-style: italic;
}

span{
    font-family: 'Leckerli One', cursive;
}

li {
    list-style-type: none;
}

ul{
    list-style-type: none;
}


/* Bootstrap Css Change */

#navBarBrand{
    text-decoration: none;
    font-family: 'Leckerli One', cursive;
    color: #8E7A68;
    margin-top: -5px;
    font-size: 24px;
}
a:link, a:visited{
    text-decoration: none;
}

.navbar{
    font-size: 24px;
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    background-color: transparent
}


.navbar-light .navbar-nav .nav-link{
    margin-right: 10px;
    margin-left: 10px;
}

.btn{
    box-shadow: transparent;
    border: transparent;
}

label{
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Class archive CSS BLOG */

.archive {
    box-shadow: 0 0 0 4px #8E7A68, 0 0 0 5px #ffe007d6;
    margin-top: 20px;
}

.archive-title {
    margin: 10px 10px 35px 10px;
    font-size: 36px;
    color: #8E7A68;
    text-align: center;
    font-family: 'Podkova', serif;
    padding-top: 20px;
}

.archive-content{
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.archive-text{

    text-align: justify;
}

.archive-quote{
    text-align: end;
}

#likeCounterIconText{
    margin-top:7px;
    margin-left:-17px;
}

#likeCounterIcon{
    margin-top:9px;
}

.editArticle{
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom:20px;
}


/* Form Class */


#form-content{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}

.form-content{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}

/* Class Comment on Blog */

.comment-author{
    margin: 10px 10px 10px 0;
    font-size: 24px;
    color: #8E7A68;
    text-align: left;
    font-family: 'Podkova', serif;
    padding-top: 20px;
}

.comment-content{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
}

.comment-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment{
    font-family: 'Leckerli One', cursive;
}

