<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container">
                <div class="comment-group">
                    <div class="comment-title">Title</div>
                    <div class="comment-content">
                        <p>
                            Du texte haineux car les kikou lolo ils sont pas prêt de disparaître.
                        </p>
                    </div>
                    <sub class="comment-author">Martin</sub>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-lg-8">
                            <button class="btn">Modifier</button>
                            <a href="#" style="color: red;">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>