<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="container col-lg-6">
                    <div class="archive">
                        <div class="archive-title">Article Template</div>
                        <article class="archive-content">
                            <p class="archive-text">Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text
                                Du text beaucoup de text beaucoup beaucoup beaucoup de text</p>
                            <sub class="archive-quote">Ecrits par Martin</sub>
                        </article>

                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</div>
