<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="container col-lg-6">
                    <ul>
                        {% for article in articles %}
                            <li>
                                <div class="archive">
                                    <div class="archive-title">{{ article.getTitle() }}</div>
                                    <article class="archive-content">
                                        <p class="archive-text">
                                            {{ article.getContent() }}
                                        </p>
                                        <sub class="archive-quote">{{ article.getDate() }}</sub>
                                        <div class="dropdown-divider"></div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <button class="btn">Ajouter</button>
                                                <button class="btn"><a href="path('edit', {'id': id }) }}">Modifier</a></button>
                                                <a href="#" style="color: red;">Supprimer</a>
                                            </div>
                                            <div class="col-lg-1" id="likeCounterIcon">
                                                <span class="oi oi-heart"></span>
                                            </div>
                                            <div class="col-lg-1" id="likeCounterIconText">
                                                <p>50</p>
                                            </div>
                                            <div class="col-lg-1" id="likeCounterIcon">
                                                <span class="oi oi-envelope-closed"></span>
                                            </div>
                                            <div class="col-lg-1" id="likeCounterIconText">
                                                <p>7</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</div>
